.grid{
    display: grid;
}
.products-grid{
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 10px;
    margin: 16px 0;
}
.products-grid .item{
    width: 100%;
}
.products-grid .product-card{
    width: 100%;
    background-color: white;
    cursor: pointer;
}
.products-grid .product-card .media{
    width: 100%; aspect-ratio: 1;
    overflow: hidden;
    background-color: rgba(255, 232, 248, 0.43);
}
.products-grid .product-card:hover img{
    transform: scale(1.08);
}
.products-grid .product-card:hover .media{
    background-color: rgba(255, 232, 248, 0.771);
}
.products-grid .product-card:hover .name{
   color: var(--primary-color);
}
.products-grid .product-card .media img{
    width: 100%; height: 100%; object-fit: cover;
}
.products-grid .product-card .name{
    width: 100%; text-align: center;
    margin: 4px 0;
}
.products-grid .product-card .price{
    width: 100%; text-align: center;
    margin: 4px 0;
}